<div class="card" (click)="toggleUnits()" [ngStyle]="setStyles()">
	<div class="card-header" [class.invisible]="!weatherReady">
		<div class="row">
			<div class="col-xs-8" id="city-wrapper">
				<p><i class="fa fa-map-marker" aria-hidden="true"></i> {{ city }}</p>
			</div>
			<div class="col-xs-4 text-xs-right">
				<h1>{{ weather.temperature | temperatureUnit: currentTemperatureUnit | number: '.0-0' }}&deg;</h1>
			</div>
		</div>
	</div>
	<div class="card-block">
		<div id="indicator" [hidden]="weatherReady">
			<i class="fa fa-circle-o-notch fa-spin fa-4x fa-fw"></i>
			<span class="sr-only">Loading...</span>
		</div>
		<canvas id="icon" [hidden]="!weatherReady"></canvas>
		<p>{{ weather.summary }}</p>
	</div>
	<div class="card-footer" [class.invisible]="!weatherReady">
		<div class="row" id="detail-row">
			<div class="col-xs-5">
				<p>Wind</p>
				<p class="unit-label">{{ weather.wind | speedUnit: currentSpeedUnit }}</p>
			</div>
			<div class="col-xs-5 offset-xs-2">
				<p>Humidity</p>
				<p>{{ weather.humidity | percent }}</p>
			</div>
		</div>
		<div class="row" id="helper-row">
			<small class="text-muted">flip &deg;/mph &amp; &deg;/kph</small>
		</div>
	</div>
</div>